<m-layout logoUrlWide="/assets/MERLOT_Logo_RGB.png" logoUrlNarrow="/assets/MERLOT_Logo_RGB.nurLogo.png"
  userAvatarUrl="/assets/default-user.png" (loginClicked)="handleLogin()">
  <h3>Regular card</h3>
  <m-card>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
  </m-card>

  <h3>Marked cards</h3>
  <m-card markAs="primary">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
  </m-card>

  <m-card markAs="secondary">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
  </m-card>

  <h3>Regular card with title</h3>
  <m-card title="<b>Regular</b> Card">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
  </m-card>

  <h3>Regular card with marked title</h3>
  <m-card title="Regular Card" [blueHeader]="true">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
  </m-card>

  <h3>Card with footer</h3>
  <m-card title="Card with footer">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
    expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.

    <div card-footer>
      <button cButton color="primary" class="btn btn-primary">Test Button</button>
    </div>
  </m-card>

  <h3>Pagination</h3>
  <m-paginator [currentPage]="activePage" (pageChangeEvent)="handlePageChange($event)"></m-paginator>

  Last changed to page: {{pageLastChangedTo}}


  <h3>Grid</h3>
  <m-grid>
    <m-card title="Regular Card" class="mb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
      expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
    </m-card>
    <m-card title="Regular Card" class="mb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
      expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
    </m-card>
    <m-card title="Regular Card" class="mb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
      expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
    </m-card>
    <m-card title="Regular Card" class="mb-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea eaque tempora harum, ipsum odio, vitae molestiae id
      expedita ipsa excepturi provident eius quaerat fugit sapiente distinctio commodi, ratione repellendus illo.
    </m-card>
  </m-grid>

  <div layout-footer>
    <span> <a href="https://merlot-education.eu/" target="_blank">MERLOT</a> Portal für Organisationen</span>
  </div>
</m-layout>